<ul class="list-unstyled primary-list" ng-if="movies">
	<li class="row primary-list-item page-lead" style="margin-bottom: 20px;" ng-repeat="movie in movies">
		<div class="col-xs-12 col-sm-3 text-center primary-img-container img-holder-lg">
			<a class="" href="{{movie.ID}}">
				<img src="{{movie.poster_url_thumb}}" alt="{{movie.title}}" class="js-img-lazy ">
			</a>
		</div>

		<div class="col-xs-12 col-sm-9 content">					
			<h3 class="post-title list-item-hd">
				<a href="{{movie.ID}}">{{movie.title}}</a>
			</h3>			
			<p class="content">{{movie.description}}</p>
			
			<p class="released-on">Release: <span class="datestamp">{{movie.year}}</span></p>			
			<div class="ratings level_{{movie.rating}}">
				Ratings: <span>{{movie.rating}}/10</span>
			</div>

			<p class="genere">
				<span ng-repeat="genere in movie.moxie_genere">{{genere}}</span>			
			</p>

		</div>
	</li>
</ul>
<h1 class="text-center no-movies" ng-show="noMovies">No Movies Available!</h1>